.buttons {
  margin-top: 20px;
  /* width: 50px; */
}
.is-empty {
  margin-top: 100px;
  width: 100%;
  background-color: white;
}
.bulma-placeholder-mixin {
}

div.wrap {
  display: flex;
  flex-direction: column-reverse;
  justify-content: ;
  border-color: black;
  display: block;
  flex-wrap: wrap;
}
.questions {
  display: block;
  flex-wrap: wrap;
  align-items: flex-start;
  display: flex;
  justify-content: space-around;
}
.left {
  display: block;
  flex-direction: row;
  align-items: end;
  width: 50%;
  margin-bottom: 20px;
  /* padding-left: 4%; */
}

.right {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: flex-start;
  border-radius: 15px;
  width: 200px;
  height: 200px;
  border-color: blue;
  color: black;
  background-color: aquamarine;
  margin-bottom: 20px;
  right: 15px;
}

/* .is-max-desktop {
  align-content: center;
  align-items: flex-end;
}  */
